import pandas as pd
import pymysql


#1 엑셀에서 데이터 읽어오기

data = pd.read_excel("./DBraw.xlsx")
print(data)


#2 엑셀데이터 넣기
conn = pymysql.connect(host='localhost', user='root', password='akslfkeh', db='project_v1')
curs = conn.cursor(pymysql.cursors.DictCursor)
print("project_v1에 들어왔습니다")

cusr.execute(median_value)

sql = 'insert into median_value (date, code, code_name) values(%s, %s, %s)'
for idx in range(len(data)):
	curs.execute(sql, tuple(data.values[idx]))
conn.commit()

#종료
curs.close()
conn.close()
